body{
	background-color: #F7F7F7;
	font-family: "Raleway", sans-serif;
	margin-left: 100px;
	margin-right: 100px;
}

h1{
	font-family: "Abel", sans-serif;
	font-size: 6.5em;
	text-align: center;
	color: #9FC5C5;
	padding-top: 50px;
}

.nav{
	text-align: center;
	font-size: 1.2em;
	padding: 0px;
	margin-left: 40px;
}


.nav li{
	display: inline;
}

.nav li a{
	padding: .5em;
}

a{
	text-decoration: none;
	color: black;
}

li a:hover{
	background-color: #E9FFA9;
}

p a:hover{
	background-color: #E9FFA9;
}

.resume{
	margin: 30px;
}

.contact{
	text-align: center;
	padding: 30px;
	margin-top: 10px;
}

.social{
	padding: 5px;
}